# ========================
# 1. Python & Tizim fayllari
# ========================
__pycache__/
*.py[cod]
*$py.class
*.log
.DS_Store

# ========================
# 2. Virtual Muhit (Venv)
# ========================
venv/
env/
.venv/
don/

# ========================
# 3. SIRLI FAYLLAR (Himoya)
# ========================
train.py
check.py
dai_moe_final.pth

dataset_final/
malware_dataset/
dataset/

# ========================
# 4. XAVFLI FAYL TURLARI (Safety Net)
# ========================
*.exe
*.dll
*.so
*.apk
*.dex
*.class
*.tmp

# ========================
# 5. IDE Sozlamalari
# ========================
.vscode/
.idea/
